.App {
  text-align: center;
  margin: 32px 64px;
}

.app-header {
  margin: 32px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

main {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.task-list-container {
  border: 1px solid black;
  min-height: 500px;
  padding: 16px 32px;
}

.task-item {
  background-color: rgba(209, 216, 224, 0.3);
  margin-block: 16px;
  padding: 16px 16px 5px 16px;
  position: relative;
  border-left: 5px solid red;
  .close-icon {
    position: absolute;
    right: 16px;
  }
  .toggle-completed {
    display: flex;
    align-items: center;
    svg {
      margin-left: 8px;
    }
  }
  &.completed {
    border-left-color: green !important;
  }
}
